In [6]:
import pandas as pd
import sys
import os
from pathlib import Path

project_root = str(Path.cwd().parent)
sys.path.append(project_root)
from sklearn.model_selection import train_test_split
from src.data.make_dataset import extract_departure_time
from src.data.make_dataset import impute_distance_by_average
from src.data.make_dataset import clean_cabin_type
from src.data.make_dataset import clean_data
from src.models.train_model import train_model
from src.models.predict_model import predict_model

In [8]:
airport_combined_path = '../data/processed/all_airports.csv'

In [9]:
airport_df = pd.read_csv(airport_combined_path)

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [5]:
airport_df.sample(10)

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,totalTravelDistance,segmentsDepartureTimeEpochSeconds,segmentsDepartureTimeRaw,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
6143661,28a9210240792381cd92c5b70b8b1041,2022-05-02,2022-05-16,IAD,DFW,PT3H18M,False,False,True,327.60,1177.0,1652737020,2022-05-16T17:37:00.000-04:00,1652748900,2022-05-16T19:55:00.000-05:00,DFW,IAD,United,UA,Airbus A319,11880,1177,coach
4271857,c3261ed60fd0827739cbc2bf7697fd8f,2022-05-12,2022-05-31,DFW,JFK,PT3H41M,False,False,True,328.60,1380.0,1654026360,2022-05-31T14:46:00.000-05:00,1654039620,2022-05-31T19:27:00.000-04:00,JFK,DFW,American Airlines,AA,Boeing 737-800,13260,1380,coach
2581352,40d66d0b8e92e279a868e6fc110ea835,2022-05-10,2022-05-22,CLT,DTW,PT7H24M,False,False,False,366.10,1030.0,1653219060||1653238500,2022-05-22T07:31:00.000-04:00||2022-05-22T12:5...,1653226140||1653245700,2022-05-22T09:29:00.000-04:00||2022-05-22T14:5...,LGA||DTW,CLT||LGA,Delta||Delta,DL||DL,Embraer 175||Airbus A319,7080||7200,545||485,coach||coach
9975066,dc97d6c665a9347f7f98b6b07a6e439f,2022-05-02,2022-06-09,MIA,LGA,PT8H30M,False,False,False,232.60,2495.0,1654774200||1654792260,2022-06-09T07:30:00.000-04:00||2022-06-09T11:3...,1654785240||1654804800,2022-06-09T09:34:00.000-05:00||2022-06-09T16:0...,DFW||LGA,MIA||DFW,American Airlines||American Airlines,AA||AA,Airbus A321||Boeing 737-800,11040||12540,1115||1380,coach||coach
8490621,a4bf5037b7942184380a0bb55d6035bf,2022-04-17,2022-05-11,LGA,IAD,PT8H23M,True,False,False,167.20,1303.0,1652299800||1652323860,2022-05-11T16:10:00.000-04:00||2022-05-11T22:5...,1652309220||1652329980,2022-05-11T18:47:00.000-04:00||2022-05-12T00:3...,ATL||IAD,LGA||ATL,Delta||Delta,DL||DL,Airbus A321||Airbus A320,9420||6120,762||541,coach||coach
7654035,1b003c8fb6abbb2d17934178b7cd9683,2022-04-28,2022-06-13,LAX,JFK,PT5H47M,False,False,True,459.35,2458.0,1655133000,2022-06-13T08:10:00.000-07:00,1655153820,2022-06-13T16:57:00.000-04:00,JFK,LAX,American Airlines,AA,Airbus A321,20820,2458,coach
2666103,c10ee5f67930f8b56311679dddef5d26,2022-05-14,2022-05-23,CLT,SFO,PT7H32M,False,False,False,667.10,2439.0,1653341280||1653352500,2022-05-23T17:28:00.000-04:00||2022-05-23T19:3...,1653350100||1653368400,2022-05-23T18:55:00.000-05:00||2022-05-23T22:0...,ORD||SFO,CLT||ORD,United||United,UA||UA,Embraer 175 (Enhanced Winglets)||Boeing 777,8820||15900,592||1847,coach||coach
13293595,9fba6525a7297ada0a15447fe488ca58,2022-05-08,2022-05-19,SFO,CLT,PT9H49M,False,False,False,700.59,3111.0,1653029700||1653057900,2022-05-19T23:55:00.000-07:00||2022-05-20T10:4...,1653049140||1653065040,2022-05-20T08:19:00.000-04:00||2022-05-20T12:4...,EWR||CLT,SFO||EWR,United||United,UA||UA,BOEING 777-300ER||,19440||7140,2566||545,coach||coach
9506601,248e508744811fea28505688ba14146b,2022-04-17,2022-05-09,MIA,OAK,PT10H30M,False,False,False,391.58,NaN,1652103600||1652135940,2022-05-09T09:40:00.000-04:00||2022-05-09T15:3...,1652122680||1652141400,2022-05-09T11:58:00.000-07:00||2022-05-09T17:1...,LAS||OAK,MIA||LAS,Spirit Airlines||Spirit Airlines,NK||NK,||,19080||5460,None||None,coach||coach
3265763,7211f77fec0af9555b3e02428aa6c95e,2022-05-06,2022-06-23,DEN,SFO,PT11H38M,False,False,False,384.70,1172.0,1655983920||1655993100||1656020100,2022-06-23T05:32:00.000-06:00||2022-06-23T08:0...,1655989500||1655998140||1656025800,2022-06-23T07:05:00.000-06:00||2022-06-23T08:2...,SLC||LAS||SFO,DEN||SLC||LAS,Delta||Delta||Alaska Airlines,DL||DL||AS,Airbus A319||Boeing 737-900||Airbus A320,5580||5040||5700,380||368||424,coach||coach||coach

In [6]:
airport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519999 entries, 0 to 13519998
Data columns (total 23 columns):
 #   Column                             Dtype
---  ------                             -----
 0   legId                              object
 1   searchDate                         object
 2   flightDate                         object
 3   startingAirport                    object
 4   destinationAirport                 object
 5   travelDuration                     object
 6   isBasicEconomy                     bool
 7   isRefundable                       bool
 8   isNonStop                          bool
 9   totalFare                          float64
 10  totalTravelDistance                float64
 11  segmentsDepartureTimeEpochSeconds  object
 12  segmentsDepartureTimeRaw           object
 13  segmentsArrivalTimeEpochSeconds    object
 14  segmentsArrivalTimeRaw             object
 15  segmentsArrivalAirportCode         object
 16  segmentsDepartureAirportCode       object
 17  segmentsAirlineName                object
 18  segmentsAirlineCode                object
 19  segmentsEquipmentDescription       object
 20  segmentsDurationInSeconds          object
 21  segmentsDistance                   object
 22  segmentsCabinCode                  object
dtypes: bool(3), float64(2), object(18)
memory usage: 2.1+ GB

In [7]:
import pandas as pd

def calculate_average_distances(airport_df):
    """
    Calculates the average distance between unique origin and destination airports.

    Args:
        airport_df: A pandas DataFrame with 'Origin', 'Destination', and 'Distance' columns.

    Returns:
        A pandas DataFrame with unique origin and destination airports and their average distance.
    """
    average_distances = airport_df.groupby(['startingAirport', 'destinationAirport'])['totalTravelDistance'].mean().reset_index()

    return average_distances

In [8]:
average_distances_df = calculate_average_distances(airport_df)
print(average_distances_df)

    startingAirport destinationAirport  totalTravelDistance
0               ATL                BOS           998.032995
1               ATL                CLT           662.624730
2               ATL                DEN          1546.128489
3               ATL                DFW           907.045841
4               ATL                DTW           973.100301
5               ATL                EWR           828.117167
6               ATL                IAD           621.642341
7               ATL                JFK           962.933895
8               ATL                LAX          2086.698655
9               ATL                LGA           869.946287
10              ATL                MIA          1146.822334
11              ATL                OAK          2422.447664
12              ATL                ORD           963.911324
13              ATL                PHL           872.197084
14              ATL                SFO          2480.410744
15              BOS                ATL          1022.433277
16              BOS                CLT           780.901729
17              BOS                DEN          1906.948671
18              BOS                DFW          1643.161254
19              BOS                DTW           764.009967
20              BOS                EWR           539.270775
21              BOS                IAD           683.665775
22              BOS                JFK           239.053281
23              BOS                LAX          2701.115332
24              BOS                LGA           400.962878
25              BOS                MIA          1303.885443
26              BOS                OAK          3024.739342
27              BOS                ORD           901.905625
28              BOS                PHL           307.862851
29              BOS                SFO          2810.698748
30              CLT                ATL           687.493178
31              CLT                BOS           768.918526
32              CLT                DEN          1665.863354
33              CLT                DFW          1188.518141
34              CLT                DTW           846.271678
35              CLT                EWR           739.528487
36              CLT                IAD           555.060110
37              CLT                JFK           719.370346
38              CLT                LAX          2410.611754
39              CLT                LGA           653.995121
40              CLT                MIA           999.661151
41              CLT                OAK          2590.631698
42              CLT                ORD           958.019099
43              CLT                PHL           783.560531
44              CLT                SFO          2668.887974
45              DEN                ATL          1555.597437
46              DEN                BOS          1916.617374
47              DEN                CLT          1675.370535
48              DEN                DFW           999.619345
49              DEN                DTW          1566.599375
50              DEN                EWR          1826.871336
51              DEN                IAD          1689.050736
52              DEN                JFK          1972.285262
53              DEN                LAX          1042.640825
54              DEN                LGA          1783.045840
55              DEN                MIA          2086.934296
56              DEN                OAK          1343.065038
57              DEN                ORD          1235.222705
58              DEN                PHL          1856.073314
59              DEN                SFO          1168.848085
60              DFW                ATL           943.125849
61              DFW                BOS          1616.195688
62              DFW                CLT          1173.485869
63              DFW                DEN          1020.551995
64              DFW                DTW          1295.630639
65              DFW                EWR          1465.114842
66              DFW                IAD          1340.628958
67              DFW                JFK          1505.494012
68              DFW                LAX          1424.146323
69              DFW                LGA          1465.395053
70              DFW                MIA          1339.408543
71              DFW                OAK          1849.622985
72              DFW                ORD          1099.045163
73              DFW                PHL          1481.114031
74              DFW                SFO          1668.825115
75              DTW                ATL           979.135721
76              DTW                BOS           757.436946
77              DTW                CLT           851.546494
78              DTW                DEN          1489.455412
79              DTW                DFW          1264.021993
80              DTW                EWR           721.618292
81              DTW                IAD           593.774971
82              DTW                JFK           753.170156
83              DTW                LAX          2316.153872
84              DTW                LGA           674.838014
85              DTW                MIA          1447.017623
86              DTW                OAK          2424.441330
87              DTW                ORD           473.601038
88              DTW                PHL           766.860529
89              DTW                SFO          2449.370988
90              EWR                ATL           824.184916
91              EWR                BOS           409.204229
92              EWR                CLT           754.921066
93              EWR                DEN          1797.305442
94              EWR                DFW          1475.916326
95              EWR                DTW           730.981088
96              EWR                IAD           765.825177
97              EWR                LAX          2564.647148
98              EWR                LGA           185.000000
99              EWR                MIA          1244.717352
100             EWR                OAK          2901.031978
101             EWR                ORD           801.141403
102             EWR                PHL           973.844160
103             EWR                SFO          2672.148685
104             IAD                ATL           608.159087
105             IAD                BOS           705.915577
106             IAD                CLT           571.797580
107             IAD                DEN          1697.949139
108             IAD                DFW          1361.001270
109             IAD                DTW           614.919671
110             IAD                EWR           755.875711
111             IAD                JFK           694.070399
112             IAD                LAX          2483.741062
113             IAD                LGA           794.450809
114             IAD                MIA          1194.781090
115             IAD                OAK          2827.242849
116             IAD                ORD           829.149631
117             IAD                PHL           790.141032
118             IAD                SFO          2619.461634
119             JFK                ATL           956.159021
120             JFK                BOS           242.370472
121             JFK                CLT           715.839815
122             JFK                DEN          1968.338507
123             JFK                DFW          1548.481508
124             JFK                DTW           709.563390
125             JFK                IAD           692.624904
126             JFK                LAX          2595.339606
127             JFK                MIA          1169.808937
128             JFK                OAK          2861.984860
129             JFK                ORD           964.275647
130             JFK                PHL           690.760481
131             JFK                SFO          2648.009820
132             LAX                ATL          2128.569898
133             LAX                BOS          2730.349077
134             LAX                CLT          2397.041800
135             LAX                DEN          1115.390925
136             LAX                DFW          1423.997083
137             LAX                DTW          2303.988239
138             LAX                EWR          2588.343739
139             LAX                IAD          2488.639044
140             LAX                JFK          2673.590452
141             LAX                LGA          2652.794984
142             LAX                MIA          2616.803802
143             LAX                OAK          1282.639563
144             LAX                ORD          2008.111878
145             LAX                PHL          2580.145085
146             LAX                SFO           443.360280
147             LGA                ATL           876.247292
148             LGA                BOS           357.969841
149             LGA                CLT           655.209663
150             LGA                DEN          1788.063442
151             LGA                DFW          1464.598985
152             LGA                DTW           656.937744
153             LGA                IAD           781.897926
154             LGA                LAX          2610.110641
155             LGA                MIA          1247.214757
156             LGA                OAK          2931.228271
157             LGA                ORD           753.142725
158             LGA                PHL          1068.936809
159             LGA                SFO          2785.523336
160             MIA                ATL          1140.451469
161             MIA                BOS          1302.065913
162             MIA                CLT          1033.500137
163             MIA                DEN          2051.121327
164             MIA                DFW          1359.691477
165             MIA                DTW          1431.063893
166             MIA                EWR          1254.076412
167             MIA                IAD          1181.231862
168             MIA                JFK          1159.374083
169             MIA                LAX          2495.758461
170             MIA                LGA          1265.836302
171             MIA                OAK          3010.682767
172             MIA                ORD          1508.049157
173             MIA                PHL          1238.466845
174             MIA                SFO          3027.242965
175             OAK                ATL          2470.936203
176             OAK                BOS          2994.084059
177             OAK                CLT          2688.345235
178             OAK                DEN          1328.685395
179             OAK                DFW          1927.349242
180             OAK                DTW          2442.496863
181             OAK                EWR          2886.103977
182             OAK                IAD          2790.073662
183             OAK                JFK          2832.980710
184             OAK                LAX          1284.120799
185             OAK                LGA          2988.521198
186             OAK                MIA          3120.593744
187             OAK                ORD          2177.681736
188             OAK                PHL          2843.224381
189             OAK                SFO           894.445085
190             ORD                ATL           980.419370
191             ORD                BOS           891.764732
192             ORD                CLT           967.872353
193             ORD                DEN          1146.059964
194             ORD                DFW          1078.003606
195             ORD                DTW           402.199384
196             ORD                EWR           795.881984
197             ORD                IAD           851.315355
198             ORD                JFK           932.850028
199             ORD                LAX          1990.440229
200             ORD                LGA           759.605102
201             ORD                MIA          1525.449269
202             ORD                OAK          2190.762284
203             ORD                PHL           872.963504
204             ORD                SFO          2067.443734
205             PHL                ATL           889.803715
206             PHL                BOS           404.566977
207             PHL                CLT           776.795122
208             PHL                DEN          1807.360204
209             PHL                DFW          1480.412761
210             PHL                DTW           759.808197
211             PHL                EWR           982.080189
212             PHL                IAD           893.933608
213             PHL                JFK           713.597814
214             PHL                LAX          2523.597749
215             PHL                LGA          1035.803049
216             PHL                MIA          1267.929754
217             PHL                OAK          2828.712171
218             PHL                ORD           854.255065
219             PHL                SFO          2717.510025
220             SFO                ATL          2546.512910
221             SFO                BOS          2801.836639
222             SFO                CLT          2662.089681
223             SFO                DEN          1222.786264
224             SFO                DFW          1754.688418
225             SFO                DTW          2475.865535
226             SFO                EWR          2710.981341
227             SFO                IAD          2633.384709
228             SFO                JFK          2656.580976
229             SFO                LAX           441.358242
230             SFO                LGA          2797.891610
231             SFO                MIA          3053.785949
232             SFO                OAK           852.857010
233             SFO                ORD          2082.642492
234             SFO                PHL          2729.172899

In [10]:
Airport_df_cleaned = clean_data(airport_df)

In [10]:
Airport_df_cleaned.head()

,startingAirport,destinationAirport,Departure_Year,Departure_Month,Departure_Day,depatureTimeCategory,Cabin_Type,Cabin_Score,totalFare,totalTravelDistance
0,ATL,BOS,2022,4,17,Afternoon,coach,0,248.6,947.0
1,ATL,BOS,2022,4,17,Morning,coach,0,248.6,947.0
2,ATL,BOS,2022,4,17,Afternoon,coach,0,248.6,947.0
3,ATL,BOS,2022,4,17,Evening,coach,0,248.6,947.0
4,ATL,BOS,2022,4,17,Afternoon,coach,0,248.6,947.0

In [11]:
Airport_df_cleaned.columns

Index(['startingAirport', 'destinationAirport', 'Departure_Year',
       'Departure_Month', 'Departure_Day', 'depatureTimeCategory',
       'Cabin_Type', 'Cabin_Score', 'totalFare', 'totalTravelDistance'],
      dtype='object')

In [11]:
X = Airport_df_cleaned.drop(['totalFare'], axis=1)  # remove target variable
y = Airport_df_cleaned['totalFare']

In [35]:
airport_df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,False,True,248.6,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,PT2H32M,False,False,True,248.6,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,PT2H34M,False,False,True,248.6,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [40]:
X['Cabin_Score'].unique()

array([0, 4, 3], dtype=int64)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=0.2,  # 20% for testing
    random_state=42  # for reproducibility
)

In [13]:
import lightgbm as lgb
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [19]:
model = lgb.LGBMRegressor(
    objective='regression',
    random_state=42,
    n_jobs=-1
)

In [20]:
pipeline = train_model(model, X_train, y_train, output_path='../models/')

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.114047 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 45
[LightGBM] [Info] Number of data points in the train set: 10815999, number of used features: 8
[LightGBM] [Info] Start training from score 373.752004

In [21]:
results = predict_model(X_test, y_test, pipeline)

Model Performance:
RMSE: $201.06
MAE: $148.90
R2 Score: 0.062
MAPE: 57.97%

In [25]:
import xgboost as xgb

In [29]:
 from sklearn.ensemble import RandomForestRegressor


model = RandomForestRegressor(
        random_state=42,
        n_jobs=-1
    )

In [30]:
pipeline = train_model(model, X_train, y_train, output_path='../models/')

In [32]:
results = predict_model(X_test, y_test, pipeline)

Model Performance:
RMSE: $201.00
MAE: $148.83
R2 Score: 0.062
MAPE: 57.87%

In [22]:
from src.models.train_model import tune_pipeline

In [23]:
param_grid = {
    'model__learning_rate': [0.1,0.001],
    'model__n_estimators': [1000,1500,2000,2500],
    'model__num_leaves': [31, 62, 127,200],
    'model__max_depth': [-1, 5, 10],
    'model__min_child_samples': [20, 50, 100],
    'model__subsample': [0.6, 0.8, 1.0],
    'model__colsample_bytree': [0.6, 0.8, 1.0]
}

# Tune the pipeline
results = tune_pipeline(
    pipeline=pipeline,
    param_grid=param_grid,
    X_train=X_train,
    y_train=y_train,
    n_iter= 5,
    search_type='random',  # or 'random'
    cv=5
)

# Get the best pipeline
best_pipeline = results['best_pipeline']

Starting random search CV...
Fitting 5 folds for each of 5 candidates, totalling 25 fits

KeyboardInterrupt:

In [1]:
import joblib

In [4]:
import sys
from pathlib import Path

# Add your project root to Python path
project_root = str(Path.cwd().parent)  # Adjust this based on your current location
if project_root not in sys.path:
    sys.path.append(project_root)

# Now load the pipeline
best_pipeline = joblib.load('../models/best_pipeline_random_20241101_184558.joblib')

In [14]:
results_tune = predict_model(X_test, y_test, best_pipeline)

Model Performance:
RMSE: $201.00
MAE: $148.83
R2 Score: 0.062
MAPE: 57.87%